# System and other files to ignore
*.egg
*.log*
*.py[co]
*.sqlite3

# IDE configs
**/.idea

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

**/.cache
**/.pytest_cache
**/.module-cache
**/__pycache__

# virtualenvs
**/.python-version

# coverage report
**/htmlcov
**/.coverage
**/coverage.xml

.env
